/Exported_Sounds
/Exported_Textures

# No compiled binaries!
/*.3dsx
/*.elf
/*.smdh

# No copyright infringements!
/raw
/data
/build

# debug stuff
/temp_textures

# Build your own romfs!
/romfs

# No macOS Stuff!
.DS_Store
